$primaryColor: #F2ECE7;
$secondaryColor: #252D59;
$accentColor: #F28F38;
$fontColor: #2A3659;
$whiteColor: #F2F2F2;

$defaultFont: "Antonio", sans-serif;
$lightWeight: 400;
$normalWeight: 600;
$boldWeight: 800; 

$gutter: 16px;